services:
  vidbot_app:
    build: .
    container_name: vidbot_app
    env_file:
      - src/.env
    volumes:
      - ./src:/app
    depends_on:
      - pgvector
    ports:
      - "8000:8000"
    networks:
      - backend
    restart: always

  pgvector:
    image: pgvector/pgvector:0.8.0-pg17
    container_name: vidbot_pgvector
    ports:
      - "5432:5432"
    volumes:
      - vidbot_pgvector:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - backend
    restart: always
  
networks:
  backend:

volumes:
  vidbot_pgvector: