APP_NAME="VidBot"
APP_VERSION="0.1.0"

# ========================= YouTube API =========================
YOUTUBE_API=""

# ========================= LLM Config =========================
GENERATION_BACKEND="gemini"
EMBEDDING_BACKEND="gemini"

OPENAI_API_KEY=""
COHERE_API_KEY=""
GEMINI_API_KEY= ""

GENERATION_MODEL_ID="gemini-2.5-flash"
EMBEDDING_MODEL_ID="gemini-embedding-001"
# Note: embedding size must be the same in the same vdb collection.
# We can use openai models by changing embedding size to 1024 but supported in `text-embedding-3` and later models only.
# We can use gemini models by changing embedding size to 1024 but supported by newer models since 2024 only. We can't use models like (`models/embedding-001`).
# Cohere embedding models support fixed embedding size of 1024 only.
EMBEDDING_SIZE=1024         # default is 3072 for gemini-embedding-001

DEFAULT_MAX_INPUT_CHARACTERS=1024
DEFAULT_MAX_TOKENS=512
DEFAULT_TEMPERATURE=0.4

# ========================= Database Config =========================
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="vidbot"

# ========================= Template Configs =========================
PRIMARY_LANG="en"
DEFAULT_LANG="en"