fastapi==0.115.12
uvicorn==0.34.2
python-dotenv==1.1.0
pydantic-settings==2.9.1
requests==2.32.3
youtube-transcript-api==1.1.0
langchain==0.3.24
langchain-community==0.3.14
motor==3.6.1       # Async MongoDB driver
SQLAlchemy==2.0.36
asyncpg==0.30.0    # Async PostgreSQL driver
alembic==1.14.0    # Database migrations
psycopg2==2.9.10   # PostgreSQL adapter

# LLM Providers
openai==1.30.1
cohere==5.3.3
google-genai==1.33.0

# Vector DB
qdrant-client==1.9.0
